
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    The examples below are an examples to set d3 graphs as directives.
      source: 
it is based on the example by https://github.com/EpiphanyMachine/d3AngularIntegration....
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
<div class="row">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p> 
<div d3-barchart style="height:300px;"  data="d3data" on-click="clickEventOnScope(item)" bar-height="30" bar-width="70" bar-padding="5" orientation="vertical"></div>
</div>
<div class="row">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>
 <div d3-barchart data="d3data" on-click="clickEventOnScope(item)" bar-height="30" bar-width="70" bar-padding="5" orientation="horizontal"></div>
</div>
<div class="row">
  <h4>Force Layout implementation</h4>
  <p>
      colors: <a href="https://github.com/mbostock/d3/wiki/Ordinal-Scales">scale.category10()</a><br/>
    https://github.com/mbostock/d3/wiki/Force-Layout.
      <p>In this implementation...
    </p>
  </p>
<div d3-molucole style="height:300px;"  data="d3Moleculedata" on-click="clickEventOnScope(item)" bar-height="30" bar-width="70" bar-padding="5" orientation="vertical"></div>
</div>

